.right{
    background-color: black;
    flex: 1;
}

.left{
    /* height: 20vw; */
    flex: 1;
    /* height: max-content; */
}

.box1:hover{
    transform:scale(1.5);
}

.square{
    position: relative;
    width: 30vw;
    height: 30vw;
    left: 12vw;
    top: -63vw;

    background: #B49700;
    text-decoration: none;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 4vw;
    margin-top: 15vw;
    margin-left: 7vw;

    color: #FFFFFF;
    z-index: 5;
} 


/*FOR THE LINKS*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/*GRIDS*/
.wrapper{
    /* width: 50%; */
    /* height: fit-content; */
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-column-gap: 10px; */
}

.wrapper div{
    height: 200px;
    font-size: 1.5rem;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: center;

}

#gamesContainer{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    height: 100%;
    grid-row-gap: 25px;
}

/* #movies-container-two{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    height: 100%;
} */

.image-styling{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    align-items: start;
    margin-left: 10px;
    margin-right: 10px;
}

/*FlipCard-two*/
.flip-card {
    background-color: transparent;
    width: 225px;
    height: 225px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 200%;
    height: 200%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
  }

.main{
    display: flex;
    background-color: red;
    flex-direction: column;
}
