#movies-container{

    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    height: 100%;
}

#movies-container-two{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    height: 100%;
}

.image-styling{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 20vw); */
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    align-items: start;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* .image-styling{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding-bottom: 10px;
    align-items: start;
  } */

  .filmname{
      font-size: 40px;
      color: #ca6f1e;
  }

  .cont{
      font-size: 20px;
  }

  .genre{
    font-size: 20px;
  }



