* {
    font-family: monospace;
    line-height: 10px;
}
#writing {
    font-size: 14pt;
}

body {
    color: black;
    background-color: #ffffff;
}

main {
    display: flex;
    width: 500px;
    margin-top: 500px;
    margin-left: 1200px;
    margin-right: auto;
    justify-content: space-around;   
    flex-direction: column; 
}

#feed-in {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    resize: none;
    text-align: center;
    height: 2vw;
    line-height: 2vw;
    margin: 5px;
    flex-direction: row; 
}