@font-face {
    font-family: ae-bold;
    src: url(Aeonik-Bold.otf);
}

@font-face {
    font-family: ae-regular;
    src: url(Aeonik-Regular.otf);
}

.home{
    position: absolute;
    width: 337px;
    height: 40px;
    left: 1426px;
    top: 35px;

    font-family: ae-bold;
    font-size: 24px;
    line-height: 28px;
    text-align: right;

    color: #FFFFFF;
}

.home:hover{
    font-size: 30px;
    color: #C3B534;
}

.title{
    position: absolute;
    width: 848px;
    height: 559px;
    left: 49px;
    top: -18px;

    font-family: ae-bold;
    font-size: 280px;
    line-height: 220px;  /* or 97% */
    color: #FFFFFF;
    word-spacing: -10px;
    margin: 0px;
    
}
 
.sub-title{
    font-family: ae-bold;
    font-size: 280px;
    line-height: 288px;  /* or 97% */
    color: #C3B534;
}

.spacing{
    padding-top: -100px;
    letter-spacing: 10px;
}


/*The FIRST Note*/

.one{
    position: absolute;
    width: 12.563em;
    height: 12.750em;
    left: 3.063em;
    top: 35.500em;
    cursor: cell;

    background: #FFFFFF;
}

.note-one{
    position: absolute;
    width: 12.5em;
    height: 9.500em;
    left: 4.2em;
    top: 41.250em;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;    /* or 114% */
    background-color: white;
    color: black;
}

.scene-one{
    position: absolute;
    width: 7em;
    height: 1.063em;
    left: 5em;
    top: 62.2em;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;    /* or 133% */

    color: #000000;
}

.line-one{
    position: absolute;
    width: 11.344em;
    height: 0px;
    left: 3.563em;
    top: 46.125em;
    cursor: cell;

    border: 1px solid #000000;
}

/*The SECOND Note*/

.two{
    position: absolute;
    width: 12.563em;
    height: 12.750em;
    left: 18.125em;
    top: 35.500em;
    cursor: cell;

    background: #FFFFFF;
}

.note-two{
    position: absolute;
    width: 12.5em;
    height: 9.188em;
    left: 300px;
    top: 580px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    background-color: white;
    color: #000000;
}

.scene-eight{
    position: absolute;
    width: 76px;
    height: 17px;
    left: 300px;
    top: 747px;
    cursor: cell;
    
    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    
    color: #000000;
}

.line-two{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 300px;
    top: 738px;
    cursor: cell;
    
    border: 1px solid #000000;
}

/*The THIRD Note*/

.three{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 531px;
    top: 568px;
    cursor: cell;

    background: #FFFFFF;
}

.note-three{
    position: absolute;
    width: 182px;
    height: 154px;
    left: 541px;
    top: 580px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-three{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 541px;
    top: 738px;
    cursor: cell;
    
    border: 1px solid #000000;
}

.scene-twelve{
    position: absolute;
    width: 76px;
    height: 17px;
    left: 541px;
    top: 747px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */


    color: #000000;
}


/*The FOURTH Note*/

.four{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 49px;
    top: 818px;
    cursor: cell;

    background: #FFFFFF;
}

.note-four{
    position: absolute;
    width: 177px;
    height: 142px;
    left: 59px;
    top: 827px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-four{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 59px;
    top: 986px;
    cursor: cell;

    border: 1px solid #000000;
}

.scene-seventeen{
    position: absolute;
    width: 88px;
    height: 17px;
    left: 59px;
    top: 995px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */


    color: #000000;
}

/*The FIVE Note*/

.five{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 290px;
    top: 818px;
    cursor: cell;

    background: #FFFFFF;
}

.note-five{
    position: absolute;
    width: 182px;
    height: 141px;
    left: 300px;
    top: 828px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-five{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 300px;
    top: 986px;
    cursor: cell;
    overflow-x: scroll;

    border: 1px solid #000000;
}

.scene-twentyone{
    position: absolute;
    width: 59px;
    height: 17px;
    left: 300px;
    top: 995px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

/*Hover*/
.note-one:hover{
    color: #C3B534;
}

.note-two:hover{
    color: #C3B534;
}

.note-three:hover{
    color: #C3B534;
}

.note-four:hover{
    color: #C3B534;
}

.note-five:hover{
    color: #C3B534;
}

/*First show up*/

.hide{
    position: absolute;
    width: 650px;
    height: 958px;
    left: 920px;
    top: 40px;

    font-family: ae-regular;
    font-size: 28px;
    line-height: 34px;
    /* or 107% */

    color: #FFFFFF;
    background-color: #000000;
    /*color: #C3B534;*/
    overflow-y: scroll;
}


.hide-two{
    position: absolute;
    width: 650px;
    height: 958px;
    left: 920px;
    top: 40px;
    padding-bottom: 100px;

    font-family: ae-regular;
    font-size: 28px;
    line-height: 34px;
    /* or 107% */

    color: #FFFFFF;
    /*color: #C3B534;*/
    background-color: #000000;
}

.hide-three{
    position: absolute;
    width: 650px;
    height: 958px;
    left: 920px;
    top: 40px;
    padding-bottom: 100px;

    font-family: ae-regular;
    font-size: 28px;
    line-height: 34px;
    /* or 107% */

    color: #FFFFFF;
    /*color: #C3B534;*/
    background-color: #000000;
}

.hide-four{
    position: absolute;
    width: 650px;
    height: 958px;
    left: 920px;
    top: 40px;
    padding-bottom: 100px;

    font-family: ae-regular;
    font-size: 28px;
    line-height: 34px;
    /* or 107% */

    color: #FFFFFF;
    /*color: #C3B534;*/
    background-color: #000000;
}


.hide-five{
    position: absolute;
    width: 650px;
    height: 958px;
    left: 920px;
    top: 40px;
    padding-bottom: 100px;

    font-family: ae-regular;
    font-size: 28px;
    line-height: 34px;
    /* or 107% */

    color: #FFFFFF;
    /*color: #C3B534;*/
    background-color: #000000;
}



/*PHONE LAYOUT*/

@media(max-width: 400px) {
    .title{
        position: absolute;
        width: 334px;
        height: 183px;
        left: 11px;
        top: -10px;
        
        font-family: ae-bold;
        font-size: 120px;
        line-height: 110px;
        /* or 90% */
        
        color: #FFFFFF;
    }   

    .home{
        position: absolute;
        width: 337px;
        height: 20px;
        left: 186px;
        top: 170px;
        
        font-family: ae-bold;
        font-size: 22px;
        line-height: 28px;
        text-align: right;
        
        color: #FFFFFF;
        
        transform: rotate(-90deg);
    }
    
    .sub-title{
        font-family: ae-bold;
        font-size: 120px;
        line-height: 110px;
        /* or 90% */
        color: #C3B534;
    }

    .spacing{
        padding-top: -100px;
        word-spacing: 50px;
    }

    .notes{
        /* background-color: aqua; */
        position: relative;
        width: 364px;
        height: 173px;
        top: 210px;
        overflow-x: scroll;
    }


    /*First Note*/

    .one{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 0px;
        top: 0px;
        
        position: absolute;
        width: 138px;
        height: 140px;
        left: 0px;
        top: 0px;


        background: #FFFFFF;
    }

    .note-one{
        position: absolute;
        width: 118px;
        height: 104px;
        left: 10px;
        top: 13px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */


        color: #000000;
    }
    .line-one{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 10px;
        top: 116px;

        border: 0.7px solid #000000;
    }

    .scene-one{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 10px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Second Note*/
    .two{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 148px;
        top: 0px;

        width: 138px;
        height: 140px;
        left: 148px;
        top: 0px;

        background: #FFFFFF;
    }

    .note-two{
        position: absolute;
        width: 118px;
        height: 93px;
        left: 158px;
        top: 13px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }
    .line-two{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 158px;
        top: 116px;

        border: 0.7px solid #000000;
    }

    .scene-eight{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 158px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Third Note*/

    .three{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 296px;
        top: 0px;

        width: 138px;
        height: 140px;
        left: 296px;
        top: 0px;


        background: #FFFFFF;
        }

    .note-three{
        position: absolute;
        width: 118px;
        height: 151px;
        left: 306px;
        top: 10px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }

    .line-three{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 306px;
        top: 116px;

        border: 0.7px solid #000000;
    }

    .scene-twelve{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 306px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Four Note*/
    .four{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 444px;
        top: 0px;

        width: 138px;
        height: 140px;
        left: 444px;
        top: 0px;

        background: #FFFFFF;
    }

    .note-four{
        position: absolute;
        width: 118px;
        height: 142px;
        left: 454px;
        top: 13px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }

    .line-four{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 454px;
        top: 116px;
        
        border: 0.7px solid #000000;
    }

    .scene-seventeen{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 454px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Five Notes*/
    .five{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 592px;
        top: 5px;

        width: 138px;
        height: 140px;
        left: 592px;
        top: 0px;

        background: #FFFFFF;

    }
    .note-five{
        position: absolute;
        width: 118px;
        height: 141px;
        left: 602px;
        top: 10px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }
    .line-five{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 602px;
        top: 116px;
        
        border: 0.7px solid #000000;
    }

    .scene-twentyone{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 602px;
        top: 126px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Body Content ONE*/
    .hide{
        position: absolute;
        width: 352px;
        height: 258px;
        left: 11px;
        top: 370px;
        padding-top: 5px;
        overflow-y: scroll;

        font-family: ae-regular;
        font-size: 18px;
        line-height: 20px;
        /* or 112% */
    }
}