@font-face {
  font-family: cn-reg;
  src: url(cn-reg.ttf);
}

@font-face {
  font-family: cn-bold;
  src: url(cn-bold.ttf);
}

.home-page{

    position: absolute;
    width: 755px;
    height: 930px;
    left: 486px;
    top: 10px;
    padding-bottom: 100px;
    
    font-family: cn-reg;
    font-size: 14px;
    line-height: 16px;
}


.title-text{
    float: right;
    text-align: right;
    font-family: cn-bold;
    font-size: 18px;
    line-height: 18px;
}

.bold-text{
    font-family: cn-bold;
    font-size: 14px;
    line-height: 16px;
}

.queue-text{
    float: right;
    font-family: cn-bold;
    font-size: 14px;
    line-height: 16px;
}

/*Hover*/

.circle:hover{
  background-color: #C3B534;
  /* background-color: #1DAB3C;
  background-color: #28388C; */
}

.text:hover{
  font-size: 24pt;
}


/*Menu Bar*/

.nav-bar{
    float: left;
    display: block;
    width: 100%;
}


.circle {
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  stroke-width: 3;
  stroke: black;
}

.circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

  .circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 14pt;
  }

/*Three columns for menu*/
.circle {
    float: left;
    width: 6.5%;
    padding: 2px;
    margin: 10px;
  }
  
  .nav-bar:after {
    content: "";
    display: table;
    clear: both;
  }

  .body{
    padding-top: 20px;

  }

@media (max-width: 400px){

  .home-page{
    width: 339px;
    height: 780px;
    left: 0px;
    top: 10px;
    float: left;
    padding-left: -150px;

    font-family: cn-reg;
  }

  .nav-bar{
    float: left;
    display: block;
    width: 100%;
  }

  .title-text{
    font-family: cn-bold;
    font-size: 12px;
    line-height: 12px;
  }

  .bold-text{
    position: absolute;
    width: 339px;
    height: 785px;
    padding-left: -100px;
    top: 0px;
    
    font-family: cn-bold;
    font-size: 10px;
    line-height: 11px;
    
    color: #000000;
  }

  .queue-text{
    font-family: cn-bold;
    font-size: 10px;
    line-height: 11px;
    
    color: #000000;
  }
/* 
  .body{
    font-family: cn-reg;
    font-size: 10px;
    line-height: 11px;
    float: left;

    background-color: red;
    padding-left: -300px;
    top: 10px;
    padding-right: 30px;
  } */
/*Circles*/

.circle {
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  stroke-width: 3;
  stroke: black;
}

.circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

  .circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

/*Three columns for menu*/

  .circle {
    float: left;
    width: 6.5%;
    /* padding: 2px; */
    padding-left: -10px;
    margin-left: -100px;
  }

  .nav-bar:after {
    content: "";
    display: table;
    clear: both;
  }

  .body{
    padding-top: 20px;

  }

}