@font-face {
  font-family: cn-reg;
  src: url(cn-reg.ttf);
}

@font-face {
  font-family: cn-bold;
  src: url(cn-bold.ttf);
}

.home-page{

    position: absolute;
    width: 42.13169642857143vw;
    height: 930px;
    left: 27.120535714285715vw;
    top: 10px;
    padding-bottom: 100px;
    
    font-family: cn-reg;
    font-size: 14px;
    line-height: 16px;
}


.title-text{
    float: right;
    text-align: right;
    font-family: cn-bold;
    font-size: 18px;
    line-height: 18px;
}

.bold-text{
    font-family: cn-bold;
    font-size: 14px;
    line-height: 16px;
}

.queue-text{
    float: right;
    font-family: cn-bold;
    font-size: 14px;
    line-height: 16px;
}

/*Hover*/

.circle:hover{
  background-color: #C3B534;
  /* background-color: #1DAB3C;
  background-color: #28388C; */
}

.text:hover{
  font-size: 24pt;
}


/*Menu Bar*/

.nav-bar{
    float: left;
    display: block;
    width: 100%;
}


.circle {
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: 20px auto;
  width: 2.7901785714285716vw;
  height: 2.7901785714285716vw;
  border-radius: 11.160714285714286vw;
  stroke-width: 0.16741071428571427vw;
  stroke: black;
}

.circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 1.1160714285714286vw auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

  .circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 14pt;
  }

/*Three columns for menu*/
.circle {
    float: left;
    width: 6.5vw;
    padding: 0.11160714285714286vw;
    margin: 0.5580357142857143vw;
  }
  
  .nav-bar:after {
    content: "";
    display: table;
    clear: both;
  }

  .body{
    padding-top: 1.1160714285714286vw;
  }

@media (max-width: 400px){

  .home-page{
    padding-right: 10px;
    padding-left: 5px;

    width: 360px;
    height: 780px;
    left: 0px;
    top: 10px;
    float: left;
    font-family: cn-reg;
  }

  .nav-bar{
    float: left;
    display: block;
    width: 100%;
  }

  .title-text{
    font-family: cn-bold;
    font-size: 14px;
    line-height: 13px;
  }

  .bold-text{ 
    font-family: cn-bold;
    font-size: 12px;
    line-height: 11px;
    
    color: #000000;
  }

  .queue-text{
    font-family: cn-bold;
    font-size: 12px;
    line-height: 11px;
    
    color: #000000;
  }
/*Circles*/

.circle {
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: 0px auto;
  width: 50px;
  height: 1px;
  border-radius: 200px;
  stroke-width: 3;
  stroke: black;
}

.circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
    width: 50px;
    height: 1px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

  .circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
    width: 50px;
    height: 1px;
    border-radius: 200px;
    stroke-width: 3;
    stroke: black;
  }

/*Three columns for menu*/

  .circle {
    float: left;
    width: 12.5%;
    padding: 32px;
    margin: 5px;
  }

  .nav-bar:after {
    content: "";
    display: table;
    clear: both;
  }
}