@font-face {
    font-family: ae-bold;
    src: url(Aeonik-Bold.otf);
}

@font-face {
    font-family: ae-regular;
    src: url(Aeonik-Regular.otf);
}

.title{

    position: absolute;
    width: 848px;
    height: 559px;
    left: 49px;
    top: -300px;

    font-family: ae-bold;
    font-size: 280px;
    line-height: 288px;  /* or 97% */
    color: #FFFFFF;
}

/*The FIRST Note*/

.one{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 35px;
    top: 631px;

    position: absolute;
    width: 201px;
    height: 204px;
    left: 35px;
    top: 631px;

    background: #FFFFFF;
}

.note-one{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 53px;
    top: 641px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-one{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 45px;
    top: 805px;
    
    border: 1px solid #000000;
}

.scene-one{
    position: absolute;
    width: 108px;
    height: 17px;
    left: 45px;
    top: 814px;
    
    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #000000;
}

/*The SECOND Note*/

.two{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 257px;
    top: 631px;
    
    position: absolute;
    width: 201px;
    height: 204px;
    left: 257px;
    top: 631px;

    background: #FFFFFF;
}

.note-two{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 275px;
    top: 641px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    color: #000000;
}

.line-two{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 267px;
    top: 805px;

    border: 1px solid #000000;
}

.scene-two{
    position: absolute;
    width: 125px;
    height: 17px;
    left: 267px;
    top: 814px;
    
    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    color: #000000;
}

/*The THIRD Note*/

.three{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 479px;
    top: 631px;

    position: absolute;
    width: 201px;
    height: 204px;
    left: 479px;
    top: 631px;

    background: #FFFFFF;
}

.note-three{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 497px;
    top: 641px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    color: #000000;
}

.line-three{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 489px;
    top: 805px;

    border: 1px solid #000000;
}

.scene-three{
    position: absolute;
    width: 94px;
    height: 17px;
    left: 489px;
    top: 814px;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

/*The FOUR Note*/

.four{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 701px;
    top: 631px;
    
    position: absolute;
    width: 201px;
    height: 204px;
    left: 701px;
    top: 631px;

    background: #FFFFFF;
}

.note-four{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 719px;
    top: 641px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    color: #000000;
}

.line-four{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 711px;
    top: 805px;

    border: 1px solid #000000;
}

.scene-four{
    position: absolute;
    width: 123px;
    height: 17px;
    left: 711px;
    top: 814px;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

/*The FIVE Note*/

.five{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 923px;
    top: 631px;

    position: absolute;
    width: 201px;
    height: 204px;
    left: 923px;
    top: 631px;

    background: #FFFFFF;
}

.note-five{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 941px;
    top: 641px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    color: #000000;
}

.line-five{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 933px;
    top: 806px;
    
    border: 1px solid #000000;
}

.scene-five{
    position: absolute;
    width: 101px;
    height: 17px;
    left: 933px;
    top: 815px;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

/*The SIX Note*/

.six{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 35px;
    top: 854px;

    position: absolute;
    width: 201px;
    height: 204px;
    left: 35px;
    top: 854px;

    background: #FFFFFF;
}

.note-six{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 53px;
    top: 870px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    color: #000000;
}

.line-six{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 45px;
    top: 1027px;

    border: 1px solid #000000;
}

.scene-six{
    position: absolute;
    width: 116px;
    height: 17px;
    left: 45px;
    top: 1036px;
    
    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #000000;
}

/*The SEVEN Note*/

.seven{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 257px;
    top: 854px;
    
    position: absolute;
    width: 201px;
    height: 204px;
    left: 257px;
    top: 854px;

    background: #FFFFFF;}

.note-seven{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 276px;
    top: 870px;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-seven{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 267px;
    top: 1027px;
    
    border: 1px solid #000000;
}

.scene-seven{
    position: absolute;
    width: 102px;
    height: 17px;
    left: 267px;
    top: 1036px;
    
    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    color: #000000;   
}

/*The EIGHT Note*/

.eight{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 479px;
    top: 854px;

    position: absolute;
    width: 201px;
    height: 204px;
    left: 479px;
    top: 854px;

    background: #FFFFFF;
}

.note-eight{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 497px;
    top: 870px;
    
    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    
    color: #000000;   
}

.line-eight{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 489px;
    top: 1027px;

    border: 1px solid #000000;
}

.scene-eight{
    position: absolute;
    width: 94px;
    height: 17px;
    left: 489px;
    top: 1036px;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

/*The NINTH Note*/

.nine{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 701px;
    top: 854px;

    position: absolute;
    width: 201px;
    height: 204px;
    left: 701px;
    top: 854px;

    background: #FFFFFF;
}

.note-nine{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 718px;
    top: 870px;
    
    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    
    color: #000000;
}

.line-nine{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 711px;
    top: 1027px;
    
    border: 1px solid #000000;
}

.scene-nine{
    position: absolute;
    width: 109px;
    height: 17px;
    left: 711px;
    top: 1036px;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

/*The TENTH scene*/

.ten{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 923px;
    top: 854px;
    
    position: absolute;
    width: 201px;
    height: 204px;
    left: 923px;
    top: 854px;    
    
    background: #FFFFFF;
}
.note-ten{
    position: absolute;
    width: 165px;
    height: 141px;
    left: 938px;
    top: 870px;
    
    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */    
    
    color: #000000;    
}

.line-ten{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 930px;
    top: 1028px;
    
    border: 1px solid #000000;
}

.scene-ten{
    position: absolute;
    width: 130px;
    height: 17px;
    left: 930px;
    top: 1037px;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}

.hide{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 30px;
    line-height: 34px;
    /* or 113% */

    color: #FFFFFF;
}

.hide-two{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 30px;
    line-height: 34px;
    /* or 113% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-three{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 34px;
    line-height: 38px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}


.hide-four{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 38px;
    line-height: 42px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-five{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 38px;
    line-height: 42px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-six{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 38px;
    line-height: 42px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-seven{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 42px;
    line-height: 46px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-eight{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 48px;
    line-height: 52px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-nine{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 48px;
    line-height: 52px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

.hide-ten{
    position: absolute;
    width: 509px;
    height: 1000px;
    left: 1178px;
    top: 15px;

    font-family: ae-regular;
    font-size: 48px;
    line-height: 52px;
    /* or 112% */

    color: #FFFFFF;
    overflow-y: scroll;
}

@media (max-width: 400px) {
    .title{
        position: absolute;
        width: 352px;
        height: 178px;
        left: 11px;
        top: -80px;

        font-family: ae-bold;
        font-size: 85px;
        line-height: 80px;
        /* or 94% */
        
        color: #FFFFFF;   
    }
    .notes{
        position: relative;
        width: 364px;
        height: 152px;
        top: 175px;
        overflow-x: scroll;
    }

    /*First Note*/
    .one{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
    }
    
    .note-one{
        position: absolute;
        width: 118px;
        height: 43px;
        left: 10px;
        top: 9px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
           
        color: #000000; /*#1DAB3C*/
        
    }
    
    .line-one{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 10px;
        top: 116px;
        
        border: 0.7px solid #000000;
    }
    
    .scene-one{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 10px;
        top: 125px;
        
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
        
        
        color: #000000;
    }

    /*Second Note*/

    .two{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 148px;
        top: 0px;

        background: #FFFFFF;
    }
    
    .note-two{
        position: absolute;
        width: 118px;
        height: 97px;
        left: 158px;
        top: 9px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }

    .line-two{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 158px;
        top: 116px;

        border: 0.7px solid #000000;
    }

    .scene-two{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 158px;
        top: 125px;
        
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
        
        color: #000000;
    }

    /*Third Note*/

    .three{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 296px;
        top: 0px;
        
        background: #FFFFFF;
    }

    .note-three{
        position: absolute;
        width: 107px;
        height: 141px;
        left: 306px;
        top: 9px;

        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }
    
    .line-three{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 306px;
        top: 116px;

        border: 0.7px solid #000000;
    }

    .scene-three{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 306px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Four Note*/

    .four{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 446px;
        top: 0px;

        background: #FFFFFF;
    }

    .note-four{
        position: absolute;
        width: 118px;
        height: 67px;
        left: 456px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }

    .line-four{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 456px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-four{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 456px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Note Five*/
    .five{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 594px;
        top: 0px;
        
        background: #FFFFFF;
    }

    .note-five{
        position: absolute;
        width: 118px;
        height: 45px;
        left: 604px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */

        color: #000000;
    }

    .line-five{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 604px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-five{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 604px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Note Six*/
    .six{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 746px;
        top: 0px;
        
        background: #FFFFFF;
    }

    .note-six{
        position: absolute;
        width: 118px;
        height: 95px;
        left: 752px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
        
        color: #000000;
    }

    .line-six{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 752px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-six{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 752px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Note Seven*/
    .seven{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 896px;
        top: 0px;
        
        background: #FFFFFF; 
    }

    .note-seven{
        position: absolute;
        width: 118px;
        height: 95px;
        left: 902px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
        
        color: #000000;
    }

    .line-seven{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 902px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-seven{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 902px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Scene Eight*/
    .eight{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 1046px;
        top: 0px;
        
        background: #FFFFFF; 
    }

    .note-eight{
        position: absolute;
        width: 118px;
        height: 95px;
        left: 1052px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
        
        color: #000000;
    }

    .line-eight{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 1052px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-eight{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 1052px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Note Nine*/

    .nine{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 1196px;
        top: 0px;
        
        background: #FFFFFF; 
    }

    .note-nine{
        position: absolute;
        width: 118px;
        height: 95px;
        left: 1202px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
        
        color: #000000;
    }

    .line-nine{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 1202px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-nine{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 1202px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }

    /*Note Ten*/
    .ten{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 1346px;
        top: 0px;
        
        background: #FFFFFF; 
    }

    .note-ten{
        position: absolute;
        width: 118px;
        height: 95px;
        left: 1352px;
        top: 11px;
        
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
        
        color: #000000;
    }

    .line-ten{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 1352px;
        top: 116px;

        border: 0.7px solid #000000; 
    }

    .scene-ten{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 1352px;
        top: 125px;

        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */

        color: #000000;
    }


    /*BODY TEXT*/

    .hide{
        position: absolute;
        width: 352px;
        height: 359px;
        left: 11px;
        top: 340px;

        font-family: ae-bold;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-two{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 340px;

        font-family: ae-bold;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-three{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 340px;

        font-family: ae-bold;
        font-size: 22px;
        line-height: 24px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-four{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 340px;

        font-family: ae-bold;
        font-size: 22px;
        line-height: 24px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-five{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 340px;

        font-family: ae-bold;
        font-size: 22px;
        line-height: 24px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-six{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 330px;

        font-family: ae-bold;
        font-size: 26px;
        line-height: 28px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-seven{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 330px;

        font-family: ae-bold;
        font-size: 26px;
        line-height: 28px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-eight{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 310px;

        font-family: ae-bold;
        font-size: 30px;
        line-height: 32px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-nine{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 310px;

        font-family: ae-bold;
        font-size: 30px;
        line-height: 32px;
        /* or 111% */
        color: #FFFFFF;
    }

    .hide-ten{
        position: absolute;
        width: 352px;
        height: 300px;
        left: 11px;
        top: 310px;

        font-family: ae-bold;
        font-size: 30px;
        line-height: 32px;
        /* or 111% */
        color: #FFFFFF;
    }

}


