@font-face {
    font-family: ae-bold;
    src: url(Aeonik-Bold.otf);
}

@font-face {
    font-family: ae-regular;
    src: url(Aeonik-Regular.otf);
}

.home{
    position: absolute;
    width: 18.805803571428573vw;
    height: 2.232142857142857vw;
    left: 79.57589285714286vw;
    top: 1.953125vw;

    font-family: ae-bold;
    font-size: 24px;
    line-height: 28px;
    text-align: right;

    color: #FFFFFF;
}

.home:hover{
    font-size: 30px;
    color: #28388C;
}

.title{
    position: absolute;
    width: 848px;
    height: 559px;
    left: 49px;
    top: -300px;

    font-family: ae-bold;
    font-size: 280px;
    line-height: 220px;  /* or 97% */
    color: #FFFFFF;
    word-spacing: -10px;
}

.sub-title{
    font-family: ae-bold;
    font-size: 280px;
    line-height: 288px;  /* or 97% */
    color: #28388C;
}

.spacing{
    padding-top: -100px;
    letter-spacing: 10px;
}

/*HOVER*/

.note-one:hover{
    color: #28388C;
}

.note-two:hover{
    color: #28388C;
}

.note-three:hover{
    color: #28388C;
}

.note-four:hover{
    color: #28388C;
}

.note-five:hover{
    color: #28388C;
}

/*The FIRST Note*/

.one{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 49px;
    top: 568px;
    cursor: cell;

    background: #FFFFFF;
}

.note-one{
    position: absolute;
    width: 173px;
    height: 152px;
    left: 63px;
    top: 580px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;    /* or 114% */
    background-color: white;
    color: black;
}

.scene-one{
    position: absolute;
    width: 182px;
    height: 147px;
    left: 57px;
    top: 747px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;    /* or 133% */

    color: #000000;
}

.line-one{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 57px;
    top: 738px;
    cursor: cell;

    border: 1px solid #000000;
}

/*The SECOND Note*/

.two{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 290px;
    top: 568px;
    cursor: cell;

    background: #FFFFFF;
}

.note-two{
    position: absolute;
    width: 182px;
    height: 147px;
    left: 300px;
    top: 580px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    background-color: white;
    color: #000000;
}

.scene-two{
    position: absolute;
    width: 76px;
    height: 17px;
    left: 300px;
    top: 747px;
    cursor: cell;
    
    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    
    color: #000000;
}

.line-two{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 300px;
    top: 738px;
    cursor: cell;
    
    border: 1px solid #000000;
}

/*The THIRD Note*/

.three{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 531px;
    top: 568px;
    cursor: cell;

    background: #FFFFFF;
}

.note-three{
    position: absolute;
    width: 182px;
    height: 154px;
    left: 541px;
    top: 580px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-three{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 541px;
    top: 738px;
    cursor: cell;
    
    border: 1px solid #000000;
}

.scene-three{
    position: absolute;
    width: 76px;
    height: 17px;
    left: 541px;
    top: 747px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */


    color: #000000;
}


/*The FOURTH Note*/

.four{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 49px;
    top: 818px;
    cursor: cell;

    background: #FFFFFF;
}

.note-four{
    position: absolute;
    width: 177px;
    height: 142px;
    left: 59px;
    top: 827px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-four{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 59px;
    top: 986px;
    cursor: cell;

    border: 1px solid #000000;
}

.scene-four{
    position: absolute;
    width: 88px;
    height: 17px;
    left: 59px;
    top: 995px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */


    color: #000000;
}

/*The FIVE Note*/

.five{
    position: absolute;
    width: 201px;
    height: 204px;
    left: 290px;
    top: 818px;
    cursor: cell;

    background: #FFFFFF;
}

.note-five{
    position: absolute;
    width: 182px;
    height: 141px;
    left: 300px;
    top: 828px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    color: #000000;
}

.line-five{
    position: absolute;
    width: 181.5px;
    height: 0px;
    left: 300px;
    top: 986px;
    overflow-x: scroll;
    cursor: cell;

    border: 1px solid #000000;
}

.scene-five{
    position: absolute;
    width: 59px;
    height: 17px;
    left: 300px;
    top: 995px;
    cursor: cell;

    font-family: ae-bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    color: #000000;
}


/*Show Ups*/
.hide{
    position: absolute;
    width: 900px;
    height: 950px;
    left: 827px;
    top: 0px;

    font-family: ae-regular;
    font-size: 64px;
    line-height: 62px;
    /* or 113% */

    color: #FFFFFF;
    background-color: #000000;
    overflow-y: scroll;
}

.hide-two{
    position: absolute;
    width: 900px;
    height: 950px;
    left: 827px;
    top: 0px;

    font-family: ae-regular;
    font-size: 64px;
    line-height: 62px;
    /* or 113% */

    color: #FFFFFF;
    background-color: #000000;
    overflow-y: scroll;
}

.hide-three{
    position: absolute;
    width: 900px;
    height: 950px;
    left: 827px;
    top: 0px;

    font-family: ae-regular;
    font-size: 64px;
    line-height: 62px;
    /* or 113% */

    color: #FFFFFF;
    background-color: #000000;
    overflow-y: scroll;
}

.hide-four{
    position: absolute;
    width: 900px;
    height: 950px;
    left: 827px;
    top: 0px;

    font-family: ae-regular;
    font-size: 64px;
    line-height: 62px;
    /* or 113% */

    color: #FFFFFF;
    background-color: #000000;
    overflow-y: scroll;
}

.hide-five{
    position: absolute;
    width: 900px;
    height: 950px;
    left: 827px;
    top: 0px;

    font-family: ae-regular;
    font-size: 64px;
    line-height: 62px;
    /* or 113% */

    color: #FFFFFF;
    background-color: #000000;
    overflow-y: scroll;
}

/*
.hide-five{
    position: absolute;
    width: 1728px;
    height: 1117px;
    left: 58px;
    top: 38px;
    padding-left: 50px;
    overflow-y: scroll;

    font-family: ae-bold;
    font-size: 144px;
    line-height: 146px;
    color: #FFFFFF;
    background-color: #000000;
    z-index: 5;

}
*/



/*PHONE LAYOUT*/

@media(max-width: 400px) {
    .title{
        position: absolute;
        width: 334px;
        height: 183px;
        left: 11px;
        top: -130px;
        
        font-family: ae-bold;
        font-size: 120px;
        line-height: 110px;
        /* or 90% */
        
        color: #FFFFFF;
    }    

    .home{
        position: absolute;
        width: 337px;
        height: 20px;
        left: 186px;
        top: 170px;
        
        font-family: ae-bold;
        font-size: 22px;
        /* line-height: 28px;
        text-align: right; */
        margin: 0px;
        color: #FFFFFF;
        
        transform: rotate(-90deg);
    }
    
    .sub-title{
        font-family: ae-bold;
        font-size: 120px;
        line-height: 110px;
        /* or 90% */
        color: #28388C;
    }

    .spacing{
        padding-top: -100px;
        word-spacing: 50px;
    }

    .notes{
        /* background-color: aqua; */
        position: relative;
        width: 364px;
        height: 171px;
        top: 210px;
        left: 4px;
        overflow-x: scroll;
    }
    
    
    /*First Note*/
    
    .one{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 0px;
        top: 0px;
        
        position: absolute;
        width: 138px;
        height: 140px;
        left: 0px;
        top: 0px;
    
    
        background: #FFFFFF;
    }
    
    .note-one{
        position: absolute;
        width: 118px;
        height: 104px;
        left: 10px;
        top: 13px;
    
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
    
    
        color: #000000;
    }
    .line-one{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 10px;
        top: 116px;
    
        border: 0.7px solid #000000;
    }
    
    .scene-one{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 10px;
        top: 125px;
    
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
    
        color: #000000;
    }
    
    /*Second Note*/
    .two{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 148px;
        top: 0px;
    
        width: 138px;
        height: 140px;
        left: 148px;
        top: 0px;
    
        background: #FFFFFF;
    }
    
    .note-two{
        position: absolute;
        width: 118px;
        height: 93px;
        left: 158px;
        top: 13px;
    
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
    
        color: #000000;
    }
    .line-two{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 158px;
        top: 116px;
    
        border: 0.7px solid #000000;
    }
    
    .scene-two{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 158px;
        top: 125px;
    
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
    
        color: #000000;
    }
    
    /*Third Note*/
    
    .three{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 296px;
        top: 0px;
    
        width: 138px;
        height: 140px;
        left: 296px;
        top: 0px;
    
    
        background: #FFFFFF;
        }
    
    .note-three{
        position: absolute;
        width: 118px;
        height: 151px;
        left: 306px;
        top: 10px;
    
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
    
        color: #000000;
    }
    
    .line-three{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 306px;
        top: 116px;
    
        border: 0.7px solid #000000;
    }
    
    .scene-three{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 306px;
        top: 125px;
    
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
    
        color: #000000;
    }
    
    /*Four Note*/
    .four{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 444px;
        top: 0px;
    
        width: 138px;
        height: 140px;
        left: 444px;
        top: 0px;
    
        background: #FFFFFF;
    }
    
    .note-four{
        position: absolute;
        width: 118px;
        height: 142px;
        left: 454px;
        top: 13px;
    
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
    
        color: #000000;
    }
    
    .line-four{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 454px;
        top: 116px;
        
        border: 0.7px solid #000000;
    }
    
    .scene-four{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 454px;
        top: 125px;
    
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
    
        color: #000000;
    }
    
    /*Five Notes*/
    .five{
        position: absolute;
        width: 138px;
        height: 140px;
        left: 592px;
        top: 5px;
    
        width: 138px;
        height: 140px;
        left: 592px;
        top: 0px;
    
        background: #FFFFFF;
    
    }
    .note-five{
        position: absolute;
        width: 118px;
        height: 141px;
        left: 602px;
        top: 10px;
    
        font-family: ae-bold;
        font-size: 10px;
        line-height: 10px;
        /* or 100% */
    
        color: #000000;
    }
    .line-five{
        position: absolute;
        width: 118px;
        height: 0px;
        left: 602px;
        top: 116px;
        
        border: 0.7px solid #000000;
    }
    
    .scene-five{
        position: absolute;
        width: 47px;
        height: 17px;
        left: 602px;
        top: 126px;
    
        font-family: ae-bold;
        font-size: 8px;
        line-height: 16px;
        /* or 200% */
    
        color: #000000;
    }
    
    /*Body Content ONE*/
    .hide{
        position: absolute;
        width: 365px;
        height: 268px;
        left: 7px;
        top: 380px;
        
        margin-top: 0px;
        padding-bottom: 30px;
        color: #FFFFFF;
        overflow-y: scroll;

        font-family: ae-regular;
        font-size: 35px;
        line-height: 33px;
        /* or 112% */
    }
    .hide-two {
        position: absolute;
        width: 340px;
        height: 330px;
        left: 7px;
        top: 330px;
        
        padding-top: 10px;
        padding-bottom: 30px;
        color: #FFFFFF;
        overflow-y: scroll;

        font-family: ae-bold;
        font-size: 40px;
        line-height: 38px;
        /* or 112% */
    }
    .hide-three {
        position: absolute;
        width: 340px;
        height: 330px;
        left: 7px;
        top: 330px;
        
        padding-top: 10px;
        padding-bottom: 30px;
        color: #FFFFFF;
        overflow-y: scroll;

        font-family: ae-bold;
        font-size: 40px;
        line-height: 38px;
        /* or 112% */
    }
    
    .hide-four {
        position: absolute;
        width: 340px;
        height: 330px;
        left: 7px;
        top: 330px;
        
        padding-top: 10px;
        padding-bottom: 30px;
        color: #FFFFFF;
        overflow-y: scroll;

        font-family: ae-bold;
        font-size: 40px;
        line-height: 38px;
        /* or 112% */
    }
    
    /*
    .hide-five {
        position: absolute;
        width: 340px;
        height: 330px;
        left: 7px;
        top: 330px;
        
        padding-top: 10px;
        padding-bottom: 30px;
        color: #FFFFFF;
        overflow-y: scroll;

        font-family: ae-bold;
        font-size: 40px;
        line-height: 38px;
       
    }    
*/ /* or 112% */

    .hide-five{
        position: absolute;
        font-family: ae-bold;
        font-size: 40px;
        line-height: 40px;
        color: #FFFFFF;
        background-color: #000000;

        position: absolute;
        width: 380px;
        height: 776px;
        left: 7px;
        padding-left: 15px;
        top: 13px;

        z-index: 5;
    }
    
}