body{
    background: url(https://assets.theoceancleanup.com/app/uploads/2021/08/Large-210823_Oceans_Systems_02_Drone_DL8-scaled.jpg) center center
    no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}