html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, var,
dl, dd, dt, ul, ol, li,
fieldset, form, table, caption, tbody,
tfoot, thead, tr, th, td, header, section,
footer, article, details {
padding: 0; margin: 0; border: 0; outline: 0;
font-family: inherit; font-style: inherit; font-size:
100%; font-weight: inherit; vertical-align: baseline;
}

a{
  background: #0d2761;
}

@font-face{
  font-family: lig;
  src: url(light.ttf);
}

@font-face{
  font-family: reg;
  src: url(regular.ttf);
}

@font-face{
  font-family: semi;
  src: url(semibold.ttf);
}

@font-face{
  font-family: bold;
  src: url(bold.ttf);
}

.alig{
  margin-left: 40%;
  margin-top: 10%;

}

#one{
  font-family: semi;
  font-size: 14pt;
  color: white;
}

.two{
  font-family: reg;
  font-size: 30pt;
  color: white;
}

#three{
  font-family: semi;
  font-size: 14pt;
  color: white;
}

#last{
  margin-left: 41%;
  margin-top: 35%;
  color: white;
  font-size: 8pt;
  font-family: reg;
  width: 10%;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: reg;
  font-size: 12pt;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: reg;
  font-size: 12pt;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D3D3D3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: reg;
  font-size: 12pt;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: reg;
  font-size: 12pt;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.box{
  margin-left: 22%;
  margin-top: 15%;
  width: 50%;
  font-family: reg;
  font-size: 24pt;
  color: #008CBA;
}

.boxt{
  font-family: reg;
  font-size: 14pt;
  color: white;
}

