.title{
    position: absolute;
    width: 338px;
    height: 199px;
    left: 38px;
    top: 28px;

    background: #C4C4C4;
}

.desc{
    position: absolute;
    width: 343px;
    height: 512px;
    left: 33px;
    top: 370px;
    
    background: #C4C4C4;
}

.image{
    position: absolute;
    width: 660px;
    height: 689px;
    left: 442px;
    top: 193px;
    
    background: #C4C4C4;
}

.desct{
    position: absolute;
    width: 547px;
    height: 883px;
    left: 1147px;
    top: 193px;
    
    background: #C4C4C4;
}