html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, var,
dl, dd, dt, ul, ol, li,
fieldset, form, table, caption, tbody,
tfoot, thead, tr, th, td, header, section,
footer, article, details {
padding: 0; margin: 0; border: 0; outline: 0;
font-family: inherit; font-style: inherit; font-size:
100%; font-weight: inherit; vertical-align: baseline;
}

@font-face{
  font-family: akz;
  src: url(akz.ttf);
}

@font-face{
    font-family: din;
    src: url(din.ttf);
  }

.home-image{
    position: fixed;
    text-align: center;
    width: 80%;
}

.home-text{
    position: absolute;
    text-align: right;
    right: 10px;
    top: 100px;
    color: black;
    z-index: 5;
    font-size: 40pt;
    font-family: din;
    width: 300px;
    line-height: normal;
}

html{ 
    background: url(css/home.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button{
  background-color: black; /* Green */
  float: right;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1{
  background-color: black; 
  color: white; 
  border: 5px solid white;
  z-index: 10;
  margin-top: 400px;
}

.button1:hover {
  background-color: black;
  color: white;
}

/*STYLING FOR IND.HTML*/

.primary-header {
  display: flex;
  background-color: black;
  color: white;
  font-size: 20pt;
  text-align: center;
  font-family: akz;
  font-size: 30pt;
  padding-top: 10px; 
  padding: 30px;

}

h1 {
  flex-grow: 1;
  
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(208, 255, 0);
}

.menu ul li {
  margin: 0 1rem;
  font-family: akz;
  font-size: 18pt;
  text-decoration: none;
  background-color: rgb(208, 255, 0);
}
/*
.posts {
  display: flex;
  flex-wrap: wrap;
}

.post {
  overflow: auto;
  width: 40%;
  box-sizing: border-box;
  padding: 0 1rem;
}
*/
p{
  font-size: 150pt;
  line-height: normal;
  font-family: akz;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}